.modal-page-ui.new-board {
  display: grid;
  height: 100vh;
  width: 100%;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background: rgba(255, 255, 255, .9);

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    padding: 0;
    font-size: 28px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    border: none;
    line-height: 1;
  }

  .modal-page-content {
    width: 100%;
    max-width: 600px;
    min-width: 420px;

    h2 {
      margin: 0 0 20px;
      font-size: 30px;
      font-weight: 500;
    }
  }
}

.floating {
  margin: 10px 0 0;
  --field-background: transparent;
  --field-background-hover: transparent;
  --label-offset: 0;
  --border-radius: 0;
}

.help-block {
  margin: 5px 0 10px;
  font-size: 13px;
  color: var(--text-color-muted);

  &+.floating {
    margin-top: 20px;
  }
}

.form-buttons {
  margin-top: 40px;

  button {
    &:disabled {
      pointer-events: none;
      opacity: 0.75;
    }
  }
}