main.content {
  height: calc(100vh - var(--nav-size));
  overflow: auto;
}

.dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: var(--sidenav-size) 1fr 300px;
  padding: 12px 0 0;

  .all-boards {
    height: 100%;
    background-color: #f5f7fa;
    border-radius: 24px 24px 0 0;

    .board-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      min-height: 60px;
    }

    .boards-listing {
      padding: 20px;
    }
  }

  .sidebar {
    background-color: #fff;
  }
}

.boards {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.board {
  display: block;
  text-decoration: none;
  align-self: center;
  text-align: center;
  padding: 45px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 10px;
  text-transform: capitalize;
  width: 250px;
}