main.content {
  height: calc(100vh - var(--nav-size));
  overflow: auto;
  background-color: #f5f7fa;
}

.boards {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.board {
  display: block;
  text-decoration: none;
  align-self: center;
  text-align: center;
  padding: 45px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 4px;
  text-transform: capitalize;
}