main.content {
  height: calc(100vh - var(--nav-size));
  overflow: auto;
}

.dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: var(--sidenav-size) 1fr 350px;
  padding: 12px 0 0;

  .all-boards {
    height: 100%;
    background-color: #f5f7fa;
    border-radius: 24px 24px 0 0;

    .board-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      min-height: 60px;
    }

    .boards-listing {
      padding: 0 25px;
    }
  }

  .sidebar {
    background-color: #fff;
  }
}

.boards-listing {

  &.grid {
    .boards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      @media screen and (max-width:1200px) {
        grid-template-columns: 1fr 1fr 1fr
      }

      @media screen and (max-width:990px) {
        grid-template-columns: 1fr 1fr
      }

      @media screen and (max-width:720px) {
        grid-template-columns: 1fr
      }
    }
  }

  &.list {
    .boards {
      display: flex;
      flex-wrap: wrap;
    }
  }

}

.board {
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
  padding: 20px 20px 15px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  color: #333;
  border-radius: 10px;
  text-transform: capitalize;
  height: 100%;
  flex-direction: column;

  &-name {
    font-size: 20px;
    font-weight: 600;
    margin: 4px 0 0;
    color: #888;
  }

  &-type {

    span {
      font-weight: 500;
      margin: 2px 0;
      color: var(--color-accent);
      font-size: 13px;
      display: inline-block;
      padding: 4px 0;
      border-radius: 4px;
      line-height: 1;
    }
  }

  &-desc {
    padding: 16px 0;

    p {
      margin: 0;
      font-size: 14px;
      line-height: 1;
      color: #888;

      &+p {
        margin-top: 10px;
      }
    }
  }

  &-members {
    display: flex;
    margin: 10px 0 15px -2px;

    li {
      font-size: 11px;
      height: 30px;
      color: #555;
      width: 30px;
      line-height: 1;
      padding: 8px 0;
      border-radius: 50%;
      text-align: center;
      background: #eee;
      font-weight: 600;
      border: 2px solid #fff;
      transition: all .3s ease;

      &+li {
        margin-left: -5px;
      }

      &:hover {
        z-index: 1;
        color: #fff;
        background: var(--color-accent);
      }
    }
  }

  .meta {
    display: block;
    font-size: 12px;
    color: #aaa;
    font-weight: 500;
    line-height: 1;
  }
}